name: REFRESH

on:
  schedule:
    - cron: "0 0 * * *"
  repository_dispatch:
    types: ["trigger_refresh"]
  workflow_dispatch:

jobs:
  craw:
    runs-on: ubuntu-latest
    env:
      BRANCH: "preview"
      INSTACRAWJSON: "assets/files/instacraw.json"
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python3.9 -m pip install requests
      - name: Git config
        run: |
          git config --global user.email "${{ secrets.MY_EMAIL }}"
          git config --global user.name "ngocnhan2003"
          git checkout $BRANCH
          git pull
      - name: Craw insta
        run: |
          python3.9 crawling.py $INSTACRAWJSON
      - name: Git job
        run: |
          if [ -n "$(git status -s $INSTACRAWJSON)" ]; then
            git add $INSTACRAWJSON
            git add assets/images
            git commit -m "craw update for $BRANCH @ $(date)"
            git push -f origin $BRANCH
            echo "Pushed update"
          else
            echo "Nothing to update"
          fi
  refresh:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: preview
      - name: Setup ENV
        run: |
          pip install requests
      - name: Refresh CDN
        run: |
          python refreshing.py
